In [2]:
import numpy as np
import pandas as pd

# Pandas

## Series

* Serie simple

In [3]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

* Serie con indices alfabeticos

In [4]:
pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

* Crear una serie con las letras del abecedario inglés

In [5]:
abecedario = pd.Series(range(1,27), index=list('abcdefghijklmnopqrstuvwxyz'))
abecedario

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Lista de los indices

In [6]:
abecedario.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

* Tamaño de la serie

In [7]:
abecedario.size

26

* Acceder a un elemento por clave

In [8]:
abecedario["j"]
abecedario.loc["j"] # Para texto

10

* Acceder por indice

In [9]:
abecedario[9]
abecedario.iloc[9] # Para numeros

10

* Ordenar

In [10]:
# desordenamos por las claves
abecedario = abecedario.reindex(np.random.permutation(abecedario.index))
abecedario

k    11
i     9
w    23
j    10
q    17
z    26
n    14
a     1
b     2
m    13
x    24
y    25
o    15
g     7
s    19
t    20
u    21
p    16
f     6
r    18
l    12
e     5
d     4
v    22
h     8
c     3
dtype: int64

In [11]:
abecedario.sort_index()

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Empleados con sus sueldos

In [12]:
empleados = ["Juan", "Ana", "Pedro", "Luis", "Maria", "Jose"]
sueldos = [1000, 2000, 3000, 4000, 5000, 6000]
serie_empleados = pd.Series(sueldos, index=empleados)
serie_empleados

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

* Ordenar por sueldo

In [13]:
serie_empleados.sort_values()

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

In [14]:
# hacer un diccionario uniendo sueldos y empleados
diccionario = dict(zip(empleados, sueldos))
diccionario = {i:j for i,j in zip(empleados, sueldos)}
sorted(diccionario.items(), key=lambda x: x[1])

[('Juan', 1000),
 ('Ana', 2000),
 ('Pedro', 3000),
 ('Luis', 4000),
 ('Maria', 5000),
 ('Jose', 6000)]

* Los empleados con mas de 3000 de sueldo

In [15]:
serie_empleados[serie_empleados > 3000]

Luis     4000
Maria    5000
Jose     6000
dtype: int64

* El sueldo máximo y el mínimo

In [16]:
mejor_pagado = serie_empleados.idxmax()
print(f"Empleado mejor pagado: {mejor_pagado} {serie_empleados[mejor_pagado]}€")
peor_pagado = serie_empleados.idxmin()
print(f"Emplado peor pagado: {peor_pagado} {serie_empleados[peor_pagado]}€")

Empleado mejor pagado: Jose 6000€
Emplado peor pagado: Juan 1000€

## Dataframes

* Crear un dataframe a partir de un diccionario

In [17]:
data = {"Nombres": ["Juan", "Ana", "Pedro", "Luis", "Maria", None], "Sueldos": [1000, 2000, np.nan, 4000, 5000, 6000]}
df = pd.DataFrame(data)
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Crear un dataframe de un array de arrays sin los nombres de columnas

In [18]:
data = [["Juan", 1000], ["Ana", 2000], ["Pedro", np.nan], ["Luis", 4000], ["Maria", 5000], [None, 6000]]
df = pd.DataFrame(data, columns=["Nombres", "Sueldos"])
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Utilizar una de las columas como indice

In [19]:
df.set_index("Nombres", inplace=True)
df

         Sueldos
Nombres
Juan      1000.0
Ana       2000.0
Pedro        NaN
Luis      4000.0
Maria     5000.0
None      6000.0

In [49]:

url = "https://es.wikipedia.org/wiki/Canarias"
tables = pd.read_html(url)
df = tables[9]
df

,Isla con administración propia,Bandera,Escudo,Municipios,Capital,Área (km²),Población (2020)[18]​
0,El Hierro,NaN,NaN,3,Valverde,26871,11 147
1,Fuerteventura[nota 10]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 11]​",119 732
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,156010,855 521
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,36976,21 678
4,Lanzarote[nota 12]​,NaN,NaN,7,Arrecife,"888,07[nota 13]​",155 812[nota 14]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,70832,83 458
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,203438,928 604