In [112]:
import numpy as np
import pandas as pd

# Pandas

## Series

* Serie simple

In [113]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

* Serie con indices alfabeticos

In [114]:
pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

* Crear una serie con las letras del abecedario inglés

In [115]:
abecedario = pd.Series(range(1,27), index=list('abcdefghijklmnopqrstuvwxyz'))
abecedario

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Lista de los indices

In [116]:
abecedario.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

* Tamaño de la serie

In [117]:
abecedario.size

26

* Acceder a un elemento por clave

In [118]:
abecedario["j"]
abecedario.loc["j"] # Para texto

10

* Acceder por indice

In [119]:
abecedario[9]
abecedario.iloc[9] # Para numeros

10

* Ordenar

In [120]:
# desordenamos por las claves
abecedario = abecedario.reindex(np.random.permutation(abecedario.index))
abecedario

k    11
l    12
x    24
y    25
b     2
n    14
w    23
i     9
g     7
v    22
e     5
r    18
u    21
a     1
q    17
s    19
c     3
z    26
d     4
h     8
j    10
m    13
t    20
f     6
p    16
o    15
dtype: int64

In [121]:
abecedario.sort_index()

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Empleados con sus sueldos

In [122]:
empleados = ["Juan", "Ana", "Pedro", "Luis", "Maria", "Jose"]
sueldos = [1000, 2000, 3000, 4000, 5000, 6000]
serie_empleados = pd.Series(sueldos, index=empleados)
serie_empleados

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

* Ordenar por sueldo

In [123]:
serie_empleados.sort_values()

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

In [124]:
# hacer un diccionario uniendo sueldos y empleados
diccionario = dict(zip(empleados, sueldos))
diccionario = {i:j for i,j in zip(empleados, sueldos)}
sorted(diccionario.items(), key=lambda x: x[1])

[('Juan', 1000),
 ('Ana', 2000),
 ('Pedro', 3000),
 ('Luis', 4000),
 ('Maria', 5000),
 ('Jose', 6000)]

* Los empleados con mas de 3000 de sueldo

In [125]:
serie_empleados[serie_empleados > 3000]

Luis     4000
Maria    5000
Jose     6000
dtype: int64

* El sueldo máximo y el mínimo

In [126]:
mejor_pagado = serie_empleados.idxmax()
print(f"Empleado mejor pagado: {mejor_pagado} {serie_empleados[mejor_pagado]}€")
peor_pagado = serie_empleados.idxmin()
print(f"Emplado peor pagado: {peor_pagado} {serie_empleados[peor_pagado]}€")

Empleado mejor pagado: Jose 6000€
Emplado peor pagado: Juan 1000€

## Dataframes

* Crear un dataframe a partir de un diccionario

In [127]:
data = {"Nombres": ["Juan", "Ana", "Pedro", "Luis", "Maria", None], "Sueldos": [1000, 2000, np.nan, 4000, 5000, 6000]}
df = pd.DataFrame(data)
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Crear un dataframe de un array de arrays sin los nombres de columnas

In [128]:
data = [["Juan", 1000], ["Ana", 2000], ["Pedro", np.nan], ["Luis", 4000], ["Maria", 5000], [None, 6000]]
df = pd.DataFrame(data, columns=["Nombres", "Sueldos"])
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Utilizar una de las columas como indice

In [129]:
df.set_index("Nombres", inplace=True)
df

         Sueldos
Nombres
Juan      1000.0
Ana       2000.0
Pedro        NaN
Luis      4000.0
Maria     5000.0
None      6000.0

In [130]:

url = "https://es.wikipedia.org/wiki/Canarias"
tables = pd.read_html(url)
df = tables[9]
df

,Isla con administración propia,Bandera,Escudo,Municipios,Capital,Área (km²),Población (2020)[18]​
0,El Hierro,NaN,NaN,3,Valverde,26871,11 147
1,Fuerteventura[nota 10]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 11]​",119 732
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,156010,855 521
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,36976,21 678
4,Lanzarote[nota 12]​,NaN,NaN,7,Arrecife,"888,07[nota 13]​",155 812[nota 14]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,70832,83 458
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,203438,928 604

In [131]:
def eliminar_corchetes(x):
    ''' 
        por cada valor de cada fila, si continene [*] lo eliminamos
    '''
    if isinstance(x, str):
        index_of_corchete = x.find("[")
        if index_of_corchete != -1:
            return x[:index_of_corchete]
        else:
            return x
    else:
        return x

def pasar_float(x):
    if str(x).find(",") != -1:
        return float(x.replace(",", "."))
    else:
        return float(x)
def pasar_int(x):
    if str(x).find(" ") != -1:
        return int(x.replace(" ", "").replace(".", ""))
    else:
        return int(x)

def limpia_datos(df):
    # eliminar las columnas bandera y escudo
    df.drop(["Bandera", "Escudo"], axis=1, inplace=True)
    # eliminar valores con corchetes anchor
    df = df.applymap(lambda x: eliminar_corchetes(x))
    # cambiar el nombre de la columna "Área (km²)" por "Area"
    df = df.rename(columns={"Área (km²)": "Area"})
    # cambiar el nombre de la ultima columna por "Poblacion"
    df = df.rename(columns={df.columns[-1]: "Poblacion"})
    # setear los valores de la columna area como float
    df["Area"] = df["Area"].apply(lambda x: pasar_float(x))
    df["Municipios"] = df["Municipios"].apply(lambda x: pasar_int(x))
    return df


df = limpia_datos(df)
df

,Isla con administración propia,Municipios,Capital,Area,Poblacion
0,El Hierro,3,Valverde,26871.00,11 147
1,Fuerteventura,6,Puerto del Rosario,1665.74,119 732
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855 521
3,La Gomera,6,San Sebastián de La Gomera,36976.00,21 678
4,Lanzarote,7,Arrecife,888.07,155 812
5,La Palma,14,Santa Cruz de La Palma,70832.00,83 458
6,Tenerife,31,Santa Cruz de Tenerife,203438.00,928 604

* Setear capital como indice

In [132]:
df = df.set_index("Capital")
#df.reset_index(inplace=True)
df

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Valverde,El Hierro,3,26871.00,11 147
Puerto del Rosario,Fuerteventura,6,1665.74,119 732
Las Palmas de Gran Canaria,Gran Canaria,21,156010.00,855 521
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812
Santa Cruz de La Palma,La Palma,14,70832.00,83 458
Santa Cruz de Tenerife,Tenerife,31,203438.00,928 604

* Metodos para mostrado de datos de un Dataframe

In [133]:
df.sample(2)

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812

In [134]:
df.head()

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Valverde,El Hierro,3,26871.00,11 147
Puerto del Rosario,Fuerteventura,6,1665.74,119 732
Las Palmas de Gran Canaria,Gran Canaria,21,156010.00,855 521
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812

In [135]:
df.tail()

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Las Palmas de Gran Canaria,Gran Canaria,21,156010.00,855 521
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812
Santa Cruz de La Palma,La Palma,14,70832.00,83 458
Santa Cruz de Tenerife,Tenerife,31,203438.00,928 604

In [136]:
df.loc["Arrecife"]

Isla con administración propia    Lanzarote
Municipios                                7
Area                                 888.07
Poblacion                           155 812
Name: Arrecife, dtype: object

In [137]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Capital                         7 non-null      object
 1   Isla con administración propia  7 non-null      object
 2   Municipios                      7 non-null      int64
 3   Area                            7 non-null      float64
 4   Poblacion                       7 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 408.0+ bytes

In [138]:
df = df.set_index("Capital")
df["Municipios"]

Capital
Valverde                       3
Puerto del Rosario             6
Las Palmas de Gran Canaria    21
San Sebastián de La Gomera     6
Arrecife                       7
Santa Cruz de La Palma        14
Santa Cruz de Tenerife        31
Name: Municipios, dtype: int64

In [139]:
# Slicing horizontal y vertical
df.loc[:"Arrecife","Municipios":"Area"]

                            Municipios       Area
Capital
Valverde                             3   26871.00
Puerto del Rosario                   6    1665.74
Las Palmas de Gran Canaria          21  156010.00
San Sebastián de La Gomera           6   36976.00
Arrecife                             7     888.07

In [143]:
# Mostrar solo los elejidos
df.loc[["Arrecife", "Valverde"],:]

         Isla con administración propia  Municipios      Area Poblacion
Capital
Arrecife                      Lanzarote           7    888.07   155 812
Valverde                      El Hierro           3  26871.00    11 147

* Condiciones

In [147]:
muchos_municipios = df["Municipios"] > 10
muchos_municipios

Capital
Valverde                      False
Puerto del Rosario            False
Las Palmas de Gran Canaria     True
San Sebastián de La Gomera    False
Arrecife                      False
Santa Cruz de La Palma         True
Santa Cruz de Tenerife         True
Name: Municipios, dtype: bool

In [151]:
df[muchos_municipios]
df.query("Municipios > 10")

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Las Palmas de Gran Canaria,Gran Canaria,21,156010.0,855 521
Santa Cruz de La Palma,La Palma,14,70832.0,83 458
Santa Cruz de Tenerife,Tenerife,31,203438.0,928 604

* Append datos

In [173]:
df = df.append(pd.Series(data=["Teguise",1, 1.0, 1], index=df.columns, name="Isla prueba"))
df

C:\Users\brais.fernandezvazqu\AppData\Local\Temp\ipykernel_4348\575505677.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(data=["Teguise",1, 1.0, 1], index=df.columns, name="Isla prueba"))

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Valverde,El Hierro,3,26871.00,11 147
Puerto del Rosario,Fuerteventura,6,1665.74,119 732
Las Palmas de Gran Canaria,Gran Canaria,21,156010.00,855 521
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812
Santa Cruz de La Palma,La Palma,14,70832.00,83 458
Santa Cruz de Tenerife,Tenerife,31,203438.00,928 604
Isla prueba,Teguise,1,1.00,1

* Drop data

In [ ]:
df = df.drop("Isla prueba")
df

,Isla con administración propia,Municipios,Area,Poblacion
Capital,,,,
Valverde,El Hierro,3,26871.00,11 147
Puerto del Rosario,Fuerteventura,6,1665.74,119 732
Las Palmas de Gran Canaria,Gran Canaria,21,156010.00,855 521
San Sebastián de La Gomera,La Gomera,6,36976.00,21 678
Arrecife,Lanzarote,7,888.07,155 812
Santa Cruz de La Palma,La Palma,14,70832.00,83 458
Santa Cruz de Tenerife,Tenerife,31,203438.00,928 604