In [1352]:
import numpy as np
import pandas as pd

# Pandas

## Series

* Serie simple

In [1353]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

* Serie con indices alfabeticos

In [1354]:
pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

* Crear una serie con las letras del abecedario inglés

In [1355]:
abecedario = pd.Series(range(1,27), index=list('abcdefghijklmnopqrstuvwxyz'))
abecedario

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Lista de los indices

In [1356]:
abecedario.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

* Tamaño de la serie

In [1357]:
abecedario.size

26

* Acceder a un elemento por clave

In [1358]:
abecedario["j"]
abecedario.loc["j"] # Para texto

10

* Acceder por indice

In [1359]:
abecedario[9]
abecedario.iloc[9] # Para numeros

10

* Ordenar

In [1360]:
# desordenamos por las claves
abecedario = abecedario.reindex(np.random.permutation(abecedario.index))
abecedario

b     2
t    20
g     7
z    26
c     3
k    11
w    23
q    17
m    13
j    10
v    22
p    16
o    15
h     8
f     6
a     1
x    24
l    12
n    14
r    18
d     4
u    21
y    25
s    19
i     9
e     5
dtype: int64

In [1361]:
abecedario.sort_index()

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

* Empleados con sus sueldos

In [1362]:
empleados = ["Juan", "Ana", "Pedro", "Luis", "Maria", "Jose"]
sueldos = [1000, 2000, 3000, 4000, 5000, 6000]
serie_empleados = pd.Series(sueldos, index=empleados)
serie_empleados

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

* Ordenar por sueldo

In [1363]:
serie_empleados.sort_values()

Juan     1000
Ana      2000
Pedro    3000
Luis     4000
Maria    5000
Jose     6000
dtype: int64

In [1364]:
# hacer un diccionario uniendo sueldos y empleados
diccionario = dict(zip(empleados, sueldos))
diccionario = {i:j for i,j in zip(empleados, sueldos)}
sorted(diccionario.items(), key=lambda x: x[1])

[('Juan', 1000),
 ('Ana', 2000),
 ('Pedro', 3000),
 ('Luis', 4000),
 ('Maria', 5000),
 ('Jose', 6000)]

* Los empleados con mas de 3000 de sueldo

In [1365]:
serie_empleados[serie_empleados > 3000]

Luis     4000
Maria    5000
Jose     6000
dtype: int64

* El sueldo máximo y el mínimo

In [1366]:
mejor_pagado = serie_empleados.idxmax()
print(f"Empleado mejor pagado: {mejor_pagado} {serie_empleados[mejor_pagado]}€")
peor_pagado = serie_empleados.idxmin()
print(f"Emplado peor pagado: {peor_pagado} {serie_empleados[peor_pagado]}€")

Empleado mejor pagado: Jose 6000€
Emplado peor pagado: Juan 1000€

## Dataframes

* Crear un dataframe a partir de un diccionario

In [1367]:
data = {"Nombres": ["Juan", "Ana", "Pedro", "Luis", "Maria", None], "Sueldos": [1000, 2000, np.nan, 4000, 5000, 6000]}
df = pd.DataFrame(data)
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Crear un dataframe de un array de arrays sin los nombres de columnas

In [1368]:
data = [["Juan", 1000], ["Ana", 2000], ["Pedro", np.nan], ["Luis", 4000], ["Maria", 5000], [None, 6000]]
df = pd.DataFrame(data, columns=["Nombres", "Sueldos"])
df

  Nombres  Sueldos
0    Juan   1000.0
1     Ana   2000.0
2   Pedro      NaN
3    Luis   4000.0
4   Maria   5000.0
5    None   6000.0

* Utilizar una de las columas como indice

In [1369]:
df.set_index("Nombres", inplace=True)
df

         Sueldos
Nombres
Juan      1000.0
Ana       2000.0
Pedro        NaN
Luis      4000.0
Maria     5000.0
None      6000.0

In [1370]:

url = "https://es.wikipedia.org/wiki/Canarias"
tables = pd.read_html(url,thousands=".")
df = tables[9]
df

,Isla con administración propia,Bandera,Escudo,Municipios,Capital,Área (km²),Población (2020)[18]​
0,El Hierro,NaN,NaN,3,Valverde,"268,71",11 147
1,Fuerteventura[nota 10]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 11]​",119 732
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,"1560,10",855 521
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,"369,76",21 678
4,Lanzarote[nota 12]​,NaN,NaN,7,Arrecife,"888,07[nota 13]​",155 812[nota 14]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,"708,32",83 458
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,"2034,38",928 604

In [1371]:
def eliminar_corchetes(x):
    ''' 
        por cada valor de cada fila, si continene [*] lo eliminamos
    '''
    if isinstance(x, str):
        index_of_corchete = x.find("[")
        if index_of_corchete != -1:
            return x[:index_of_corchete]
        else:
            return x
    else:
        return x

def pasar_float(x):
    if str(x).find(",") != -1:
        return float(x.replace(",", "."))
    else:
        return float(x)
def pasar_int(x):
    if str(x).find("\xa0") != -1:
        return int(x.replace('\xa0', "").replace(".", ""))
    else:
        return int(x)

def limpia_datos(df):
    # eliminar las columnas bandera y escudo
    df.drop(["Bandera", "Escudo"], axis=1, inplace=True)
    # eliminar valores con corchetes anchor
    df = df.applymap(lambda x: eliminar_corchetes(x))
    # df.str.extract(r"[0-9.]+") df.str.extract(r"[^[]+")

    # cambiar el nombre de la columna "Área (km²)" por "Area"
    df = df.rename(columns={"Área (km²)": "Area"})
    # cambiar el nombre de la ultima columna por "Poblacion"
    df = df.rename(columns={df.columns[-1]: "Poblacion"})
    # setear los valores de la columna area como float
    df["Area"] = df["Area"].apply(lambda x: pasar_float(x))
    # df["Area"] = df["Area"].str.replace(",", ".").astype(float)

    df["Municipios"] = df["Municipios"].apply(lambda x: pasar_int(x))
    df["Poblacion"] = df["Poblacion"].apply(lambda x: pasar_int(x))
    return df


df = limpia_datos(df)
df

,Isla con administración propia,Municipios,Capital,Area,Poblacion
0,El Hierro,3,Valverde,268.71,11147
1,Fuerteventura,6,Puerto del Rosario,1665.74,119732
2,Gran Canaria,21,Las Palmas de Gran Canaria,1560.10,855521
3,La Gomera,6,San Sebastián de La Gomera,369.76,21678
4,Lanzarote,7,Arrecife,888.07,155812
5,La Palma,14,Santa Cruz de La Palma,708.32,83458
6,Tenerife,31,Santa Cruz de Tenerife,2034.38,928604

* Añadir la columna provincia

In [1372]:
df["Provincia"] = ["LPGC","SCTF","SCTF","LPGC","SCTF","SCTF","LPGC"]

* Añadir una columna con datos de fechas

In [1373]:
df["Fecha visita"] = [f"20{23-7+i}-0{i}-0{i}" for i in range(1,8)]
df

,Isla con administración propia,Municipios,Capital,Area,Poblacion,Provincia,Fecha visita
0,El Hierro,3,Valverde,268.71,11147,LPGC,2017-01-01
1,Fuerteventura,6,Puerto del Rosario,1665.74,119732,SCTF,2018-02-02
2,Gran Canaria,21,Las Palmas de Gran Canaria,1560.10,855521,SCTF,2019-03-03
3,La Gomera,6,San Sebastián de La Gomera,369.76,21678,LPGC,2020-04-04
4,Lanzarote,7,Arrecife,888.07,155812,SCTF,2021-05-05
5,La Palma,14,Santa Cruz de La Palma,708.32,83458,SCTF,2022-06-06
6,Tenerife,31,Santa Cruz de Tenerife,2034.38,928604,LPGC,2023-07-07

* Pasar al tipo de dato date en vez de String

In [1374]:
import datetime
df["Fecha visita"] = pd.to_datetime(df["Fecha visita"])

* hacer una mascara por fecha

In [1375]:
mascara = pd.to_datetime("today").year - df["Fecha visita"].dt.year <= 1
df[mascara]

,Isla con administración propia,Municipios,Capital,Area,Poblacion,Provincia,Fecha visita
5,La Palma,14,Santa Cruz de La Palma,708.32,83458,SCTF,2022-06-06
6,Tenerife,31,Santa Cruz de Tenerife,2034.38,928604,LPGC,2023-07-07

* Setear una nueva columna a partir de la mascara

In [1376]:
df.loc[mascara, "Visitado reciente"] = "Si"
# negate the mask
df.loc[~mascara , "Visitado reciente"] = "No"
df

,Isla con administración propia,Municipios,Capital,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
0,El Hierro,3,Valverde,268.71,11147,LPGC,2017-01-01,No
1,Fuerteventura,6,Puerto del Rosario,1665.74,119732,SCTF,2018-02-02,No
2,Gran Canaria,21,Las Palmas de Gran Canaria,1560.10,855521,SCTF,2019-03-03,No
3,La Gomera,6,San Sebastián de La Gomera,369.76,21678,LPGC,2020-04-04,No
4,Lanzarote,7,Arrecife,888.07,155812,SCTF,2021-05-05,No
5,La Palma,14,Santa Cruz de La Palma,708.32,83458,SCTF,2022-06-06,Si
6,Tenerife,31,Santa Cruz de Tenerife,2034.38,928604,LPGC,2023-07-07,Si

* setear la fecha como indice y hacer busquedas por año

In [1377]:
df = df.set_index(df["Fecha visita"])
df.loc["2021"]

,Isla con administración propia,Municipios,Capital,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Fecha visita,,,,,,,,
2021-05-05,Lanzarote,7,Arrecife,888.07,155812,SCTF,2021-05-05,No

* Setear capital como indice

In [1378]:
df = df.set_index("Capital")
#df.reset_index(inplace=True)
df

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Valverde,El Hierro,3,268.71,11147,LPGC,2017-01-01,No
Puerto del Rosario,Fuerteventura,6,1665.74,119732,SCTF,2018-02-02,No
Las Palmas de Gran Canaria,Gran Canaria,21,1560.10,855521,SCTF,2019-03-03,No
San Sebastián de La Gomera,La Gomera,6,369.76,21678,LPGC,2020-04-04,No
Arrecife,Lanzarote,7,888.07,155812,SCTF,2021-05-05,No
Santa Cruz de La Palma,La Palma,14,708.32,83458,SCTF,2022-06-06,Si
Santa Cruz de Tenerife,Tenerife,31,2034.38,928604,LPGC,2023-07-07,Si

* Metodos para mostrado de datos de un Dataframe

In [1379]:
df.sample(2)

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Puerto del Rosario,Fuerteventura,6,1665.74,119732,SCTF,2018-02-02,No
San Sebastián de La Gomera,La Gomera,6,369.76,21678,LPGC,2020-04-04,No

In [1380]:
df.head()

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Valverde,El Hierro,3,268.71,11147,LPGC,2017-01-01,No
Puerto del Rosario,Fuerteventura,6,1665.74,119732,SCTF,2018-02-02,No
Las Palmas de Gran Canaria,Gran Canaria,21,1560.10,855521,SCTF,2019-03-03,No
San Sebastián de La Gomera,La Gomera,6,369.76,21678,LPGC,2020-04-04,No
Arrecife,Lanzarote,7,888.07,155812,SCTF,2021-05-05,No

In [1381]:
df.tail()

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Las Palmas de Gran Canaria,Gran Canaria,21,1560.10,855521,SCTF,2019-03-03,No
San Sebastián de La Gomera,La Gomera,6,369.76,21678,LPGC,2020-04-04,No
Arrecife,Lanzarote,7,888.07,155812,SCTF,2021-05-05,No
Santa Cruz de La Palma,La Palma,14,708.32,83458,SCTF,2022-06-06,Si
Santa Cruz de Tenerife,Tenerife,31,2034.38,928604,LPGC,2023-07-07,Si

In [1382]:
df.loc["Arrecife"]

Isla con administración propia              Lanzarote
Municipios                                          7
Area                                           888.07
Poblacion                                      155812
Provincia                                        SCTF
Fecha visita                      2021-05-05 00:00:00
Visitado reciente                                  No
Name: Arrecife, dtype: object

In [1383]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Capital                         7 non-null      object
 1   Isla con administración propia  7 non-null      object
 2   Municipios                      7 non-null      int64
 3   Area                            7 non-null      float64
 4   Poblacion                       7 non-null      int64
 5   Provincia                       7 non-null      object
 6   Fecha visita                    7 non-null      datetime64[ns]
 7   Visitado reciente               7 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 576.0+ bytes

In [1384]:
df = df.set_index("Capital")
df["Municipios"]

Capital
Valverde                       3
Puerto del Rosario             6
Las Palmas de Gran Canaria    21
San Sebastián de La Gomera     6
Arrecife                       7
Santa Cruz de La Palma        14
Santa Cruz de Tenerife        31
Name: Municipios, dtype: int64

In [1385]:
# Slicing horizontal y vertical
df.loc[:"Arrecife","Municipios":"Area"]

                            Municipios     Area
Capital
Valverde                             3   268.71
Puerto del Rosario                   6  1665.74
Las Palmas de Gran Canaria          21  1560.10
San Sebastián de La Gomera           6   369.76
Arrecife                             7   888.07

In [1386]:
# Mostrar solo los elejidos
df.loc[["Arrecife", "Valverde"],:]

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Arrecife,Lanzarote,7,888.07,155812,SCTF,2021-05-05,No
Valverde,El Hierro,3,268.71,11147,LPGC,2017-01-01,No

* Condiciones

In [1387]:
muchos_municipios = df["Municipios"] > 10
muchos_municipios

Capital
Valverde                      False
Puerto del Rosario            False
Las Palmas de Gran Canaria     True
San Sebastián de La Gomera    False
Arrecife                      False
Santa Cruz de La Palma         True
Santa Cruz de Tenerife         True
Name: Municipios, dtype: bool

In [1388]:
df[muchos_municipios]
df.query("Municipios > 10")

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Las Palmas de Gran Canaria,Gran Canaria,21,1560.10,855521,SCTF,2019-03-03,No
Santa Cruz de La Palma,La Palma,14,708.32,83458,SCTF,2022-06-06,Si
Santa Cruz de Tenerife,Tenerife,31,2034.38,928604,LPGC,2023-07-07,Si

* Append datos

In [1389]:
df = df.append(pd.Series(data=["Teguise", 1.0, 1,1,"Prueba",pd.to_datetime("today"),"Si"], index=df.columns, name="Isla prueba"))
df

C:\Users\brais.fernandezvazqu\AppData\Local\Temp\ipykernel_9668\1434590333.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(data=["Teguise", 1.0, 1,1,"Prueba",pd.to_datetime("today"),"Si"], index=df.columns, name="Isla prueba"))

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Valverde,El Hierro,3.0,268.71,11147,LPGC,2017-01-01 00:00:00.000000,No
Puerto del Rosario,Fuerteventura,6.0,1665.74,119732,SCTF,2018-02-02 00:00:00.000000,No
Las Palmas de Gran Canaria,Gran Canaria,21.0,1560.10,855521,SCTF,2019-03-03 00:00:00.000000,No
San Sebastián de La Gomera,La Gomera,6.0,369.76,21678,LPGC,2020-04-04 00:00:00.000000,No
Arrecife,Lanzarote,7.0,888.07,155812,SCTF,2021-05-05 00:00:00.000000,No
Santa Cruz de La Palma,La Palma,14.0,708.32,83458,SCTF,2022-06-06 00:00:00.000000,Si
Santa Cruz de Tenerife,Tenerife,31.0,2034.38,928604,LPGC,2023-07-07 00:00:00.000000,Si
Isla prueba,Teguise,1.0,1.00,1,Prueba,2023-01-16 18:16:33.928601,Si

* Create Columna

In [1390]:
df["Viento"] = np.random.randint(0, 100, df.shape[0])
df

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente,Viento
Capital,,,,,,,,
Valverde,El Hierro,3.0,268.71,11147,LPGC,2017-01-01 00:00:00.000000,No,96
Puerto del Rosario,Fuerteventura,6.0,1665.74,119732,SCTF,2018-02-02 00:00:00.000000,No,56
Las Palmas de Gran Canaria,Gran Canaria,21.0,1560.10,855521,SCTF,2019-03-03 00:00:00.000000,No,40
San Sebastián de La Gomera,La Gomera,6.0,369.76,21678,LPGC,2020-04-04 00:00:00.000000,No,46
Arrecife,Lanzarote,7.0,888.07,155812,SCTF,2021-05-05 00:00:00.000000,No,75
Santa Cruz de La Palma,La Palma,14.0,708.32,83458,SCTF,2022-06-06 00:00:00.000000,Si,87
Santa Cruz de Tenerife,Tenerife,31.0,2034.38,928604,LPGC,2023-07-07 00:00:00.000000,Si,20
Isla prueba,Teguise,1.0,1.00,1,Prueba,2023-01-16 18:16:33.928601,Si,26

* Drop data

In [1391]:
df = df.drop("Isla prueba")
df

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente,Viento
Capital,,,,,,,,
Valverde,El Hierro,3.0,268.71,11147,LPGC,2017-01-01,No,96
Puerto del Rosario,Fuerteventura,6.0,1665.74,119732,SCTF,2018-02-02,No,56
Las Palmas de Gran Canaria,Gran Canaria,21.0,1560.10,855521,SCTF,2019-03-03,No,40
San Sebastián de La Gomera,La Gomera,6.0,369.76,21678,LPGC,2020-04-04,No,46
Arrecife,Lanzarote,7.0,888.07,155812,SCTF,2021-05-05,No,75
Santa Cruz de La Palma,La Palma,14.0,708.32,83458,SCTF,2022-06-06,Si,87
Santa Cruz de Tenerife,Tenerife,31.0,2034.38,928604,LPGC,2023-07-07,Si,20

In [1392]:
df = df.drop("Viento", axis=1)
# df = df.drop(columns="Viento")
df

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Valverde,El Hierro,3.0,268.71,11147,LPGC,2017-01-01,No
Puerto del Rosario,Fuerteventura,6.0,1665.74,119732,SCTF,2018-02-02,No
Las Palmas de Gran Canaria,Gran Canaria,21.0,1560.10,855521,SCTF,2019-03-03,No
San Sebastián de La Gomera,La Gomera,6.0,369.76,21678,LPGC,2020-04-04,No
Arrecife,Lanzarote,7.0,888.07,155812,SCTF,2021-05-05,No
Santa Cruz de La Palma,La Palma,14.0,708.32,83458,SCTF,2022-06-06,Si
Santa Cruz de Tenerife,Tenerife,31.0,2034.38,928604,LPGC,2023-07-07,Si

* pasar un dato de tipo numerico a clasificado en string

In [1393]:
#df["Poblacion"] = pd.cut(df["Poblacion"], bins=3, labels=["Baja", "Media", "Alta"])
df

c:\Users\brais.fernandezvazqu\Miniconda3\lib\site-packages\IPython\core\displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,Isla con administración propia,Municipios,Area,Poblacion,Provincia,Fecha visita,Visitado reciente
Capital,,,,,,,
Valverde,El Hierro,3.0,268.71,11147,LPGC,2017-01-01,No
Puerto del Rosario,Fuerteventura,6.0,1665.74,119732,SCTF,2018-02-02,No
Las Palmas de Gran Canaria,Gran Canaria,21.0,1560.10,855521,SCTF,2019-03-03,No
San Sebastián de La Gomera,La Gomera,6.0,369.76,21678,LPGC,2020-04-04,No
Arrecife,Lanzarote,7.0,888.07,155812,SCTF,2021-05-05,No
Santa Cruz de La Palma,La Palma,14.0,708.32,83458,SCTF,2022-06-06,Si
Santa Cruz de Tenerife,Tenerife,31.0,2034.38,928604,LPGC,2023-07-07,Si

* Buscar por indice del máximo

In [1394]:
df.reset_index(inplace=True)
# change the name of Isla con administracion propia column to Isla
df = df.rename(columns={"Isla con administración propia": "Isla"})
df.set_index("Isla", inplace=True)

df["Poblacion"].max()
indice = df["Poblacion"].idxmax()
df.loc[indice]

Capital              Santa Cruz de Tenerife
Municipios                             31.0
Area                                2034.38
Poblacion                            928604
Provincia                              LPGC
Fecha visita            2023-07-07 00:00:00
Visitado reciente                        Si
Name: Tenerife, dtype: object

* Los 3 primeros más grandes

In [1395]:
df["Poblacion"].nlargest(3)# devuelve solo los indices .index

Isla
Tenerife        928604
Gran Canaria    855521
Lanzarote       155812
Name: Poblacion, dtype: int64

* manejar nulos

In [1396]:
new_df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, np.nan, 6], 'C':[5,6,7]})
new_df

   A    B  C
0  1  4.0  5
1  2  NaN  6
2  3  6.0  7

In [1397]:
new_df.isna()

       A      B      C
0  False  False  False
1  False   True  False
2  False  False  False

In [1398]:
new_df.dropna(axis=1)

   A  C
0  1  5
1  2  6
2  3  7

In [1399]:
new_df.fillna(0)

   A    B  C
0  1  4.0  5
1  2  0.0  6
2  3  6.0  7

In [1400]:
new_df.interpolate()

     A    B    C
0  1.0  4.0  5.0
1  2.0  4.0  6.0
2  3.0  6.0  7.0